
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <%= link_to categories_path, class: "flex items-center justify-center p-2" do %>
      <i class="fa-solid fa-chevron-left fa-2x"></i>
    <% end %>
    <% if @title %>
      <div class="justify-self-center uppercase text-xl"><%= @title %></div>
    <% end %>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <i class="fa-solid fa-bars fa-2x"></i>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="menu-link">About</a>
        </li>
        <li>
          <a href="#" class="menu-link">Services</a>
        </li>
        <li>
          <a href="#" class="menu-link">Pricing</a>
        </li>
        <li>
          <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "menu-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
